

*.log
**/Debug
**/v15

**/*.dll
**/*.exe
build/*
bin-*/*
distrib/build_*/*
**.bak
**.orig
screenshot.bmp
*.pyc
Thumbs.db
OpenGL-tutorial_v*
**.mtl
.DS_Store

OpenGL_SampleEdit/**
OpenGL_Sample_G037/**
OpenGL_Sample_desktop/**